@yellow: #f5fc2b;
@red: #e02b1b;
@green: #23ba44;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;    
    margin-bottom: @bottom;
}

.paddings(@top: 0px, @bottom: 0px) {
    padding-top: @top;    
    padding-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color:black;
    .margenes(50px, 0px);
    .paddings(0px, 10px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color:@yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    background-color: @green;
}

.card-footer{
    padding: 0px;
    background-color: white;
}