$yellow: #f3ea66;
$red: #e02b1b;
$green: #236923;
$blanco: #FFFFFF;

@mixin margenes($top, $bottom) {
    margin-top: $top;    
    margin-bottom: $bottom;
}

@mixin paddings($top, $bottom) {
    padding-top: $top;    
    padding-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color:black;
    @include margenes(50px, 0px);
    @include paddings(0px, 10px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    background-color: $green;
}

.card-footer{
    padding: 0px;
    background-color: white;
}