.jumbotron {
  background-color: #f3ea66;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  background-color: #236923; }

.card-footer {
  padding: 0px;
  background-color: white; }
